Repository StirlingLabs/BigBuffers, changes with the labels that .github/labeler.yml gives for each.
All labels: c#, golang, c++, json, codegen, documentation, CI, grpc

.github/labeler.yml:

# Configuration for Auto Labeler during pull request
#
# See https://github.com/actions/labeler for file format
# and https://github.com/google/flatbuffers/labels for a list of valid labels
#
# See .github/workflows/label.yml for Github Action workflow script

c#:
  - '**/*.cs'
  - net/**/*
  - tests/FlatBuffers.Test/**/*
  - tests/FlatBuffers.Benchmarks/**/*
  - src/idl_gen_csharp.cpp

golang:
  - '**/*.go'
  - src/idl_gen_go.cpp

c++:
  - '**/*.cc'
  - '**/*.cpp'
  - '**/*.h'

json:
  - '**/*.json'
  - src/idl_gen_json_schema.cpp

codegen:
  - src/**/*

documentation:
  - docs/**/*
  - '**/*.md'

CI:
  - '.github/**/*'
  - '.appveyor/**/*'
  - '.travis/**/*'
  - '.bazelci/**/*'
  - .travis.yml
  - appveyor.yml

grpc:
  - grpc/**/*
  - src/idl_gen_grpc.cpp

- Fixed Windows bufc directory - Fixed GeneratedFixture and Monster csproj bufc settings
  .github/workflows/ci.yml
  net/BigBuffers.Tests.GeneratedFixture/BigBuffers.Tests.GeneratedFixture.csproj
  net/BigBuffers.Tests.Monster/BigBuffers.Tests.Monster.csproj
Labels: c#, CI

fixed artifact path for nuget push step
  .github/workflows/cd.yml
Labels: CI

fixed windows bufc artifact directory location
  .github/workflows/ci.yml
Labels: CI

fixed cd wf
  .github/workflows/cd.yml
Labels: CI

complete cd wf, add Runtime.Xpc project,fixed artifact name
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  net/BigBuffers.Runtime.Xpc/BigBuffers.Runtime.Xpc.csproj
  net/BigBuffers.sln
Labels: c#, CI

Changed -Authors- BigBuffer test project
  net/BigBuffers.Tests/BigBuffers.Tests.csproj
Labels: c#

initial shot at 64-bit flatbuffers
  .gitignore
  CMakeLists.txt
  dart/lib/flat_buffers.dart
  include/flatbuffers/base.h
  include/flatbuffers/flatbuffers.h
  net/FlatBuffers/ByteBufferUtil.cs
  net/FlatBuffers/FlatBufferBuilder.cs
  net/FlatBuffers/Table.cs
  src/idl_gen_cpp.cpp
  src/idl_gen_csharp.cpp
  src/idl_gen_java.cpp
  src/idl_gen_kotlin.cpp
  src/idl_gen_swift.cpp
  src/idl_parser.cpp
  tests/FlatBuffers.Test.Swift/Sources/SwiftFlatBuffers/fuzzer_generated.swift
  tests/FlatBuffers.Test.Swift/Tests/FlatBuffers.Test.SwiftTests/monster_test_generated.swift
  tests/FlatBuffers.Test/TestTable.cs
  tests/MyGame/Example/ArrayStruct.cs
  tests/MyGame/Example/Monster.cs
  tests/MyGame/Example/Monster.java
  tests/MyGame/Example/Monster.kt
  tests/MyGame/Example/NestedStruct.cs
  tests/MyGame/Example/Referrable.cs
  tests/MyGame/Example/Referrable.java
  tests/MyGame/Example/Referrable.kt
  tests/MyGame/Example/Stat.cs
  tests/MyGame/Example/Stat.java
  tests/MyGame/Example/Stat.kt
Labels: c#, c++, codegen

Minimal changes to readme
  docs/images/i-like-big-buffers-and-i-cannot-lie.jpg
  readme.md
Labels: documentation

regenerate reflection_generated.h
  include/flatbuffers/reflection_generated.h
Labels: c++

does the CI work?
  .github/workflows/build.yml
Labels: CI

regenerate monster sample
  samples/monster_generated.lobster
  samples/monster_generated.swift
  tests/monster_extra_generated.h
Labels: c++

break returns on bfbs Deserialize path in idl_parser.cpp onto new lines for easier breakpoints
  samples/sample_bfbs.cpp
  src/idl_parser.cpp
  tests/monster_test.bfbs
  tests/monster_test_generated.lobster
Labels: c++, codegen

generate include_test files? is this a bad idea?
  tests/include_test/include_test1_generated.h
  tests/include_test/sub/include_test2_generated.h
Labels: c++

trying to use 64-bit indexing and sizing
  src/idl_gen_csharp.cpp
  src/idl_gen_go.cpp
  src/idl_gen_swift.cpp
Labels: c#, golang, c++, codegen

have C# runtime use BigSpans
  net/BigBuffers/BigBufferBuilder.cs
  net/BigBuffers/BigBuffers.csproj
  net/BigBuffers/ByteBuffer.cs
  net/BigBuffers/ByteBufferUtil.cs
  net/BigBuffers/Constants.cs
  net/BigBuffers/FlatBuffers.net35.csproj
  net/BigBuffers/IFlatbufferObject.cs
  net/BigBuffers/Offset.cs
  net/BigBuffers/Properties/AssemblyInfo.cs
  net/BigBuffers/Struct.cs
  net/BigBuffers/Table.cs
  net/FlatBuffers/FlatBuffers.csproj
Labels: c#

drop net 3.5 support
  net/BigBuffers/FlatBuffers.net35.csproj
Labels: c#
