Repository StirlingLabs/BigBuffers, changes with the labels that .github/labeler.yml gives for each.
All labels: c#, golang, c++, json, codegen, documentation, CI, grpc

.github/labeler.yml:

# Configuration for Auto Labeler during pull request
#
# See https://github.com/actions/labeler for file format
# and https://github.com/google/flatbuffers/labels for a list of valid labels
#
# See .github/workflows/label.yml for Github Action workflow script

c#:
  - '**/*.cs'
  - net/**/*
  - tests/FlatBuffers.Test/**/*
  - tests/FlatBuffers.Benchmarks/**/*
  - src/idl_gen_csharp.cpp

golang:
  - '**/*.go'
  - src/idl_gen_go.cpp

c++:
  - '**/*.cc'
  - '**/*.cpp'
  - '**/*.h'

json:
  - '**/*.json'
  - src/idl_gen_json_schema.cpp

codegen:
  - src/**/*

documentation:
  - docs/**/*
  - '**/*.md'

CI:
  - '.github/**/*'
  - '.appveyor/**/*'
  - '.travis/**/*'
  - '.bazelci/**/*'
  - .travis.yml
  - appveyor.yml

grpc:
  - grpc/**/*
  - src/idl_gen_grpc.cpp

placeholder vector of inline structs
  net/BigBuffers.Tests/GeneratedStructuralTests.cs
  net/BigBuffers/IBigBufferModel.cs
  net/BigBuffers/IBigBufferStruct.cs
  net/BigBuffers/IBigBufferTable.cs
  net/BigBuffers/Placeholder.cs
  net/BigBuffers/SchemaModel.cs
  net/BigBuffers/TypeIs.cs
  src/idl_gen_csharp.cpp
Labels: c#, c++, codegen

add single offset placeholder support
  net/BigBuffers.Tests.GeneratedFixture/BigBuffers.Tests.GeneratedFixture.csproj
  net/BigBuffers.Tests.GeneratedFixture/Hash.Extended.cs
  net/BigBuffers.Tests.GeneratedFixture/fixtures.fbs
  net/BigBuffers.Tests/GeneratedStructuralTests.cs
  net/BigBuffers/BigBufferBuilder.cs
  net/BigBuffers/ByteBuffer.cs
  net/BigBuffers/ByteBufferResidentModel.cs
  net/BigBuffers/Placeholder.cs
  net/BigBuffers/SchemaModel.cs
  net/BigBuffers/StringPlaceholder.cs
  net/BigBuffers/Struct.cs
  net/BigBuffers/VectorPlaceholder.cs
  src/idl_gen_csharp.cpp
Labels: c#, c++, codegen

change placeholder offset value to long.MinValue, unify references to const
  net/BigBuffers.Tests/BigBufferBuilderTests.cs
  net/BigBuffers/BigBufferBuilder.cs
  net/BigBuffers/Placeholder.cs
Labels: c#

fixed existing vtable usage
  net/BigBuffers/BigBufferBuilder.cs
Labels: c#

automatically inferred generics cleanup
  net/BigBuffers/BigBufferBuilder.cs
  net/BigBuffers/Placeholder.cs
Labels: c#

add more unit tests
  net/BigBuffers.Tests/GeneratedStructuralTests.cs
  net/BigBuffers/Offset.cs
  net/BigBuffers/Placeholder.cs
Labels: c#

cumulative work toward flatcc compatible 64-bit offset size flat buffers
  .gitattributes
  include/flatbuffers/idl.h
  net/BigBuffers.Tests.GeneratedFixture/BigBuffers.Tests.GeneratedFixture.csproj
  net/BigBuffers.Tests.GeneratedFixture/fixtures.fbs
  net/BigBuffers.Tests/BigBuffers.Tests.csproj
  net/BigBuffers.Tests/ByteBufferTests.cs
  net/BigBuffers.Tests/GeneratedStructuralTests.cs
  net/BigBuffers.Tests/UtilitiesTests.cs
  net/BigBuffers/AssemblyAttributes.cs
  net/BigBuffers/BigBufferBuilder.cs
  net/BigBuffers/BigBuffers.csproj
  net/BigBuffers/ByteArrayAllocator.cs
  net/BigBuffers/ByteBuffer.cs
  net/BigBuffers/ByteBufferAllocator.cs
  net/BigBuffers/ByteBufferResidentModel.cs
  net/BigBuffers/SchemaModel.cs
  net/BigBuffers/Struct.cs
  net/BigBuffers/Table.cs
  net/BigBuffers/UnsafeExtensions.cs
  src/idl_gen_csharp.cpp
Labels: c#, c++, codegen

rename BigBuffers project to BigBuffers.Runtime
  net/BigBuffers.Runtime/AssemblyAttributes.cs
  net/BigBuffers.Runtime/BigBufferBuilder.cs
  net/BigBuffers.Runtime/BigBufferBuilderDebugger.cs
  net/BigBuffers.Runtime/BigBuffers.Runtime.csproj
  net/BigBuffers.Runtime/ByteArrayAllocator.cs
  net/BigBuffers.Runtime/ByteBuffer.cs
  net/BigBuffers.Runtime/ByteBufferAllocator.cs
  net/BigBuffers.Runtime/ByteBufferDebugger.cs
  net/BigBuffers.Runtime/ByteBufferResidentModel.cs
  net/BigBuffers.Runtime/ByteBufferUtil.cs
  net/BigBuffers.Runtime/Constants.cs
  net/BigBuffers.Runtime/DebugHelpers.cs
  net/BigBuffers.Runtime/IBigBufferModel.cs
  net/BigBuffers.Runtime/IBigBufferStruct.cs
  net/BigBuffers.Runtime/IBigBufferTable.cs
  net/BigBuffers.Runtime/ISchemaModel.cs
  net/BigBuffers.Runtime/ISchemaTable.cs
  net/BigBuffers.Runtime/IVectorOffset.cs
  net/BigBuffers.Runtime/Offset.cs
  net/BigBuffers.Runtime/Placeholder.cs
  net/BigBuffers.Runtime/PlaceholdersUnfilledException.cs
  net/BigBuffers.Runtime/Properties/AssemblyInfo.cs
  net/BigBuffers.Runtime/SchemaModel.cs
  net/BigBuffers.Runtime/SizeOf.cs
  net/BigBuffers.Runtime/StringOffset.cs
  net/BigBuffers.Runtime/Struct.cs
  net/BigBuffers.Runtime/Table.cs
  net/BigBuffers.Runtime/UnsafeExtensions.cs
  net/BigBuffers.Runtime/VectorOffset.cs
  net/BigBuffers.Runtime/VectorOffsetExtensions.cs
  net/BigBuffers.Tests.GeneratedFixture/BigBuffers.Tests.GeneratedFixture.csproj
  net/BigBuffers.Tests/BigBuffers.Tests.csproj
  net/BigBuffers.Tests/GeneratedStructuralTests.cs
  net/BigBuffers/IBigBufferStruct.cs
  net/BigBuffers/IBigBufferTable.cs
  src/idl_gen_csharp.cpp
Labels: c#, c++, codegen

fix existing vtable check, added test
  net/BigBuffers.Runtime/BigBufferBuilder.cs
  net/BigBuffers.Runtime/SchemaModel.cs
  net/BigBuffers.Tests/GeneratedStructuralTests.cs
Labels: c#

some code cleanup
  net/BigBuffers.Runtime/BigBufferBuilder.cs
  net/BigBuffers.Runtime/ByteArrayAllocator.cs
  net/BigBuffers.Runtime/ByteBuffer.cs
  net/BigBuffers.Runtime/ByteBufferAllocator.cs
  net/BigBuffers.Runtime/ByteBufferDebugger.cs
  net/BigBuffers.Runtime/ByteBufferUtil.cs
  net/BigBuffers.Runtime/Constants.cs
  net/BigBuffers.Runtime/DebugHelpers.cs
  net/BigBuffers.Runtime/Offset.cs
  net/BigBuffers.Runtime/Placeholder.cs
  net/BigBuffers.Runtime/PlaceholdersUnfilledException.cs
  net/BigBuffers.Runtime/Properties/AssemblyInfo.cs
  net/BigBuffers.Runtime/Struct.cs
  net/BigBuffers.Runtime/Table.cs
  net/BigBuffers.sln.DotSettings
Labels: c#

add MonsterDataTest
  net/BigBuffers.Runtime/SchemaModel.cs
  net/BigBuffers.Tests.Monster/BigBuffers.Tests.Monster.csproj
  net/BigBuffers.Tests/BigBuffers.Tests.csproj
  net/BigBuffers.Tests/MonsterTests.cs
Labels: c#

run against flatcc's monster
  include/flatbuffers/code_generators.h
  include/flatbuffers/flatc.h
  include/flatbuffers/idl.h
  net/BigBuffers.Runtime/ByteBufferResidentModel.cs
  net/BigBuffers.Runtime/IBigBufferModel.cs
  net/BigBuffers.Runtime/IBigBufferStruct.cs
  net/BigBuffers.Runtime/IBigBufferTable.cs
  net/BigBuffers.Runtime/ISchemaModel.cs
  net/BigBuffers.Runtime/ISchemaTable.cs
  net/BigBuffers.Runtime/Model.cs
  net/BigBuffers.Runtime/SchemaModel.cs
  net/BigBuffers.Runtime/SchemaModel2.cs
  net/BigBuffers.Runtime/Struct.cs
  net/BigBuffers.Runtime/Table.cs
  net/BigBuffers.Tests.GeneratedFixture/fixtures.fbs
  net/BigBuffers.Tests.Monster/.gitignore
  net/BigBuffers.Tests.Monster/AssemblyAttributes.cs
  net/BigBuffers.Tests.Monster/BigBuffers.Tests.Monster.csproj
  net/BigBuffers.Tests.Monster/attributes.fbs
  net/BigBuffers.Tests.Monster/include_test1.fbs
  net/BigBuffers.Tests.Monster/include_test2.fbs
  net/BigBuffers.Tests.Monster/monster_test.fbs
  net/BigBuffers.Tests.Monster/monsterdata_test.json
  net/BigBuffers.Tests.Monster/monsterdata_test.mon
  src/code_generators.cpp
  src/flatc.cpp
  src/idl_gen_cpp.cpp
  src/idl_gen_csharp.cpp
  src/idl_gen_fbs.cpp
  src/idl_gen_go.cpp
  src/idl_gen_grpc.cpp
  src/idl_gen_json_schema.cpp
  src/idl_gen_text.cpp
  src/idl_parser.cpp
Labels: c#, golang, c++, json, codegen, grpc

create BigBuffers.JsonParsing
  net/BigBuffers.JsonParsing/BigBuffers.JsonParsing.csproj
  net/BigBuffers.JsonParsing/DebugHelpers.cs
  net/BigBuffers.JsonParsing/FodyWeavers.xml
  net/BigBuffers.JsonParsing/IJsonElementParser.cs
  net/BigBuffers.JsonParsing/IJsonParser.cs
  net/BigBuffers.JsonParsing/IJsonVectorParser.cs
  net/BigBuffers.JsonParsing/JsonDeferredModelParser.cs
  net/BigBuffers.JsonParsing/JsonEnumVectorParser.cs
  net/BigBuffers.JsonParsing/JsonParser.CreateStructFieldParsers.cs
  net/BigBuffers.JsonParsing/JsonParser.CreateTableFieldParsers.cs
  net/BigBuffers.JsonParsing/JsonParser.cs
  net/BigBuffers.JsonParsing/JsonPrimitiveVectorParser.cs
  net/BigBuffers.JsonParsing/JsonStringVectorParser.cs
  net/BigBuffers.JsonParsing/JsonStructVectorParser.cs
  net/BigBuffers.JsonParsing/JsonTableVectorParser.cs
  net/BigBuffers.JsonParsing/JsonUtilities.cs
  net/BigBuffers.Runtime/AssemblyAttributes.cs
  net/BigBuffers.Runtime/BigBufferBuilder.cs
  net/BigBuffers.Runtime/FodyWeavers.xml
  net/BigBuffers.Runtime/IBigBufferEntity.cs
  net/BigBuffers.Runtime/IBigBufferStruct.cs
  net/BigBuffers.Runtime/IBigBufferTable.cs
  net/BigBuffers.Runtime/MetadataIndexAttribute.cs
  net/BigBuffers.Runtime/Model.cs
  net/BigBuffers.Runtime/Offset.cs
  net/BigBuffers.Runtime/Placeholder.cs
  net/BigBuffers.Runtime/SchemaModel.cs
  net/BigBuffers.Runtime/UnionTypeAssociationAttribute.cs
  net/BigBuffers.Tests.GeneratedFixture/fixtures.fbs
  net/BigBuffers.Tests/BigBuffers.Tests.csproj
  net/BigBuffers.Tests/GeneratedStructuralTests.cs
  net/BigBuffers.Tests/MonsterTests.cs
  src/idl_gen_csharp.cpp
Labels: c#, c++, codegen

fix prep for vectors and strings
  net/BigBuffers.Runtime/BigBufferBuilder.cs
  net/BigBuffers.Runtime/Placeholder.cs
  net/BigBuffers.Runtime/PlaceholdersUnfilledException.cs
  net/BigBuffers.Runtime/SchemaModel.cs
  net/BigBuffers.Tests/BigBufferBuilderTests.cs
  net/BigBuffers.Tests/GeneratedStructuralTests.cs
  net/BigBuffers.Tests/MonsterTests.cs
Labels: c#

string concatenation cleanup
  .clang-format
  .editorconfig
  net/BigBuffers.Runtime/BigBufferBuilder.cs
  net/BigBuffers.Runtime/ByteBufferUtil.cs
  net/BigBuffers.Runtime/Constants.cs
  net/BigBuffers.Runtime/Placeholder.cs
  net/BigBuffers.Runtime/SchemaModel.cs
  net/BigBuffers.Runtime/SizeOf.cs
  net/BigBuffers.Runtime/VectorOffsetExtensions.cs
  net/BigBuffers.Tests/MonsterTests.cs
  src/idl_gen_csharp.cpp
Labels: c#, c++, codegen

implement an alignment padding toggle
  net/BigBuffers.JsonParsing/DebugHelpers.cs
  net/BigBuffers.JsonParsing/IJsonParser.cs
  net/BigBuffers.JsonParsing/JsonDeferredModelParser.cs
  net/BigBuffers.JsonParsing/JsonEnumVectorParser.cs
  net/BigBuffers.JsonParsing/JsonParser.cs
  net/BigBuffers.JsonParsing/JsonPrimitiveVectorParser.cs
  net/BigBuffers.JsonParsing/JsonStringVectorParser.cs
  net/BigBuffers.JsonParsing/JsonStructVectorParser.cs
  net/BigBuffers.JsonParsing/JsonTableVectorParser.cs
  net/BigBuffers.JsonParsing/ProducerConsumerCollection.cs
  net/BigBuffers.Runtime/BigBufferBuilder.cs
  net/BigBuffers.Runtime/DebugHelpers.cs
  net/BigBuffers.Runtime/Placeholder.cs
  net/BigBuffers.Runtime/SchemaModel.cs
  net/BigBuffers.Tests/MonsterTests.cs
Labels: c#

fix: upgrade io.grpc:grpc-core from 1.36.0 to 1.38.0
  grpc/flatbuffers-java-grpc/pom.xml
Labels: grpc

seems to be compatible with flatcc now
  net/BigBuffers.JsonParsing/BigBuffers.JsonParsing.csproj
  net/BigBuffers.JsonParsing/IJsonParser.cs
  net/BigBuffers.JsonParsing/JsonDeferredModelParser.cs
  net/BigBuffers.JsonParsing/JsonParser.CreateTableFieldParsers.cs
  net/BigBuffers.JsonParsing/JsonParser.cs
  net/BigBuffers.Runtime/BigBufferBuilder.cs
  net/BigBuffers.Runtime/BigBuffers.Runtime.csproj
  net/BigBuffers.Runtime/ByteBuffer.cs
  net/BigBuffers.Runtime/Placeholder.cs
  net/BigBuffers.Runtime/SchemaModel.cs
  net/BigBuffers.Tests.Monster/monsterdata_test.json
  net/BigBuffers.Tests/BigBufferBuilderTests.cs
  net/BigBuffers.Tests/BigBuffers.Tests.csproj
  net/BigBuffers.Tests/GeneratedStructuralTests.cs
  net/BigBuffers.Tests/MonsterTests.cs
  src/idl_gen_csharp.cpp
Labels: c#, c++, json, codegen

implement binary comparison for all bigbuf struct types
  net/BigBuffers.Runtime/SchemaModel.cs
  net/BigBuffers.Tests.GeneratedFixture/fixtures.fbs
  src/idl_gen_csharp.cpp
  src/idl_parser.cpp
Labels: c#, c++, codegen

drop rust support for now
  include/flatbuffers/idl.h
  src/flatc.cpp
Labels: c++, codegen

make key struct fields always required
  net/BigBuffers.Runtime/SchemaModel.cs
  src/idl_gen_csharp.cpp
  src/idl_parser.cpp
Labels: c#, c++, codegen

rename flatc to bufc
  CMakeLists.txt
  docs/source/Compiler.md
  docs/source/DartUsage.md
  docs/source/FlatBuffers.md
  docs/source/KotlinUsage.md
  docs/source/RustUsage.md
  docs/source/Tutorial.md
  docs/source/TypeScriptUsage.md
  net/BigBuffers.Tests.GeneratedFixture/BigBuffers.Tests.GeneratedFixture.csproj
  net/BigBuffers.Tests.Monster/BigBuffers.Tests.Monster.csproj
Labels: c#, documentation

add differences documentation
  docs/source/DifferencesFromFlat.md
  net/BigBuffers.Runtime/BigBuffers.Runtime.csproj
  net/BigBuffers.Runtime/ByteArrayAllocator.cs
Labels: c#, documentation

add nuget.config
  net/.gitignore
  net/nuget.config
Labels: c#

Fixed Project same error - Build Bufc - Create sln file for net project - Fixed Monster Project - Fixed Bufc source - Fixed GenerateFixture Project
  net/BigBuffers.JsonParsing/JsonParser.cs
  net/BigBuffers.Tests.GeneratedFixture/BigBuffers.Tests.GeneratedFixture.csproj
  net/BigBuffers.Tests.Monster/BigBuffers.Tests.Monster.csproj
  net/nuget.config
Labels: c#

Revert "Fixed Project same error"
  net/BigBuffers.JsonParsing/JsonParser.cs
  net/BigBuffers.Tests.GeneratedFixture/BigBuffers.Tests.GeneratedFixture.csproj
  net/BigBuffers.Tests.Monster/BigBuffers.Tests.Monster.csproj
  net/nuget.config
Labels: c#

always create setters (they will be used by create steps)
  src/idl_gen_csharp.cpp
Labels: c#, c++, codegen

remove some @ prefixes now that they're being generated in WrapInNameSpace
  net/BigBuffers.Tests.GeneratedFixture/BigBuffers.Tests.GeneratedFixture.csproj
  net/BigBuffers.Tests.Monster/BigBuffers.Tests.Monster.csproj
  src/idl_gen_csharp.cpp
Labels: c#, c++, codegen

remove existing ci
  .appveyor/check-generate-code.bat
  .bazelci/presubmit.yml
  .github/workflows/build.yml
  .github/workflows/label.yml
  .github/workflows/stale.yml
  .travis.yml
  .travis/build-and-run-docker-test-containers.sh
  .travis/check-sources.sh
  .travis/check-sources.sh.py
  .travis/deploy-python.sh
  .travis/format_check.sh
  .travis/format_install.sh
  BUILD.bazel
  appveyor.yml
  bazel/BUILD.bazel
  build_defs.bzl
  conan/appveyor/build.py
  conan/appveyor/install.py
  conan/travis/build.sh
  conan/travis/install.sh
  go/BUILD.bazel
  grpc/BUILD.bazel
  grpc/src/compiler/BUILD.bazel
  src/BUILD.bazel
  tests/BUILD.bazel
Labels: codegen, CI, grpc

update field name collision checks
  src/idl_gen_csharp.cpp
Labels: c#, c++, codegen

add rpc pure interface codegen
  include/flatbuffers/idl.h
  net/BigBuffers.Runtime.Xpc/BigBuffers.Runtime.Xpc.csproj
  net/BigBuffers.Runtime.Xpc/IBigBuffersIpcService.cs
  net/BigBuffers.Runtime.Xpc/IBigBuffersLpcService.cs
  net/BigBuffers.Runtime.Xpc/IBigBuffersRpcService.cs
  net/BigBuffers.Runtime.Xpc/IBigBuffersService.cs
  net/BigBuffers.Runtime.Xpc/IdempotentAttribute.cs
  net/BigBuffers.Runtime.Xpc/RpcIndexAttribute.cs
  net/BigBuffers.Runtime/BigBuffers.Runtime.csproj
  net/BigBuffers.Tests.Monster/BigBuffers.Tests.Monster.csproj
  net/BigBuffers.Tests.Monster/monster_test.fbs
  net/BigBuffers.Tests/BigBuffers.Tests.csproj
  net/BigBuffers.Tests/GeneratedStructuralTests.cs
  src/idl_gen_csharp.cpp
  src/idl_parser.cpp
Labels: c#, c++, codegen

fix some gotchas VS doesn't complain about, thanks ilker!
  src/idl_gen_cpp.cpp
  src/idl_gen_csharp.cpp
Labels: c#, c++, codegen

woops
  net/BigBuffers.Tests.GeneratedFixture/BigBuffers.Tests.GeneratedFixture.csproj
  net/BigBuffers.Tests.Monster/BigBuffers.Tests.Monster.csproj
  src/idl_gen_csharp.cpp
Labels: c#, c++, codegen

fix windows step
  .github/workflows/ci.yml
Labels: CI

try retry for windows worflow
  .github/workflows/ci.yml
Labels: CI

another try
  .github/workflows/ci.yml
Labels: CI

try another build.
  .github/workflows/ci.yml
Labels: CI

fix copy articaft step
  .github/workflows/ci.yml
Labels: CI

fixed windows artifact path
  .github/workflows/ci.yml
Labels: CI

fixed windows build step
  .github/workflows/ci.yml
Labels: CI
