Repository StirlingLabs/BigBuffers, changes with the labels that .github/labeler.yml gives for each.
All labels: c#, golang, c++, json, codegen, documentation, CI, grpc

another build try
  .github/workflows/ci.yml
Labels: CI

try retry
  .github/workflows/ci.yml
Labels: CI

added BigBuffer net project for ci workflow
  .github/workflows/ci.yml
  .gitignore
  .gitmodules
  net/BigBuffers.JsonParsing/BigBuffers.JsonParsing.csproj
  net/BigBuffers.Runtime/BigBuffers.Runtime.csproj
  net/BigBuffers.Tests/BigBuffers.Tests.csproj
Labels: c#, CI

added BigBuffer net project for ci workflow
  .github/workflows/ci.yml
Labels: CI

fixed create sln step
  .github/workflows/ci.yml
Labels: CI

delete version.proj
  net/BigBuffers.JsonParsing/BigBuffers.JsonParsing.csproj
  net/BigBuffers.Runtime/BigBuffers.Runtime.csproj
Labels: c#

fix windows step
  .github/workflows/ci.yml
Labels: CI

fixed bufc build
  .gitignore
Labels: none

remove upload coverage step
  .github/workflows/ci.yml
Labels: CI

another try
  .github/workflows/ci.yml
Labels: CI

add ci step for github action
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: CI

fixed msbuid step
  .github/workflows/ci.yml
Labels: CI

add manuel csproj
  .github/workflows/ci.yml
Labels: CI

fix linux and macos step
  .github/workflows/ci.yml
Labels: CI

fixed restore nuget source
  .github/workflows/ci.yml
Labels: CI

fix coverlet directory
  net/BigBuffers.Tests/BigBuffers.Tests.csproj
Labels: c#

fixed windows artifact path
  .github/workflows/ci.yml
Labels: CI

fixed find file step
  .github/workflows/ci.yml
Labels: CI

add other step net code build
  .github/workflows/ci.yml
Labels: CI

fix dll path
  .github/workflows/ci.yml
Labels: CI

add build verbosity
  .github/workflows/ci.yml
Labels: CI

change dotnet sln add strategy
  .github/workflows/ci.yml
Labels: CI

another try
  .github/workflows/ci.yml
Labels: CI

list directory comm
  .github/workflows/ci.yml
Labels: CI

fixed nuget path
  .github/workflows/ci.yml
  net/BigBuffers.JsonParsing/BigBuffers.JsonParsing.csproj
  net/BigBuffers.Runtime/BigBuffers.Runtime.csproj
Labels: c#, CI

fixed build for windows bufc step
  .github/workflows/ci.yml
Labels: CI

fix upload artifact versipn
  .github/workflows/ci.yml
Labels: CI

retry max attempts increase
  .github/workflows/ci.yml
Labels: CI

fixed configure cmake step
  .github/workflows/ci.yml
Labels: CI

fix upload artifact versipn
  .github/workflows/ci.yml
Labels: CI

fixed linux step
  .github/workflows/ci.yml
Labels: CI

add sln file, change gitignore,
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .gitignore
  net/BigBuffers.sln
Labels: c#, CI

fix paths
  .github/workflows/ci.yml
Labels: CI

fixed linux artifact path
  .github/workflows/ci.yml
Labels: CI

fixed cmake step
  .github/workflows/ci.yml
Labels: CI

fixed linux step
  .github/workflows/ci.yml
Labels: CI

fixed linux step
  .github/workflows/ci.yml
Labels: CI

add release wf for github
  .github/workflows/cd.yml
  .github/workflows/release.yml
Labels: CI

- Fixed JsonParser - Fixed Windows cmake step inside directory.
  .github/workflows/ci.yml
  net/BigBuffers.JsonParsing/JsonParser.cs
Labels: c#, CI

fixed ci step
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Labels: CI

.github/labeler.yml:

# Configuration for Auto Labeler during pull request
#
# See https://github.com/actions/labeler for file format
# and https://github.com/google/flatbuffers/labels for a list of valid labels
#
# See .github/workflows/label.yml for Github Action workflow script

c#:
  - '**/*.cs'
  - net/**/*
  - tests/FlatBuffers.Test/**/*
  - tests/FlatBuffers.Benchmarks/**/*
  - src/idl_gen_csharp.cpp

golang:
  - '**/*.go'
  - src/idl_gen_go.cpp

c++:
  - '**/*.cc'
  - '**/*.cpp'
  - '**/*.h'

json:
  - '**/*.json'
  - src/idl_gen_json_schema.cpp

codegen:
  - src/**/*

documentation:
  - docs/**/*
  - '**/*.md'

CI:
  - '.github/**/*'
  - '.appveyor/**/*'
  - '.travis/**/*'
  - '.bazelci/**/*'
  - .travis.yml
  - appveyor.yml

grpc:
  - grpc/**/*
  - src/idl_gen_grpc.cpp
